<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jeromejoseph.orivis">
    <application
        android:label="Orivis"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
        </intent>
    </queries>

    <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Photos (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Photos (pre-Android 13) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>